@{
    int index = -1; // change to something (0-2)
}
@*
    Difference between what the received and transmitted messages look like is in the two classes - > incoming-chat and outgoing-chat
    Example: To mark a message as sent by the user then use outgoing-chat
*@

@{
    if (index != -1) // if (chatExists) or if (chatSelected) else display -> Select/Create a chat to display
    {
        foreach (var item in Model.chats[index].messages)
        {
            <div class="chat-bubble @item.MessageClass">
                @*incoming-chat / outgoing-chat*@
                <div class="chat-message">
                    <p class="font-weight-bold">@item.Username</p>
                    <p>@item.Body</p>
                </div>
                <div class="sender-details">
                    <img class="sender-avatar img-xs rounded-circle" src="/imgs/faces/face2.jpg" alt="profile image">
                    <p class="seen-text">Message seen : 20 min ago</p>
                </div>
            </div>
        }
    }
    else 
    {
        <div class="h-100 d-flex justify-content-center align-items-center">
            <h4>Nothing to display</h4>
        </div>
    }
}
