@{
    int index = 0;
}
@*
    Provide: Face image, username, chat-time, chat-text, (dot-indicator/chat-time maybe removed? if too hard to implement)
    types of dot-indicator: bg-success, bg-primary, bg-warning,etc or remove this div"
*@

@*
    To Do: When Clicking on a chat from list -> put in a variable the index of that chat and use this index as Model.chats[index].messages
    And It will display the chat for it
*@
@{
    foreach (var item in Model.chats)
    {
        <div class="list-item" data-chat-index="@index">
            @*Chat List Item Template*@
            <div class="profile-image">
                <div class="dot-indicator sm bg-success"></div>
                <img class="img-sm rounded-circle" src="/imgs/faces/face1.jpg" alt="">
            </div>
            <p class="user-name">@item.Sender</p>
            <p class="chat-time">30min ago</p>
            <p class="chat-text">Hello everyone, Iam happy to share with you our new company goals..</p>
        </div>
        index++; // Increment the chat index
    }
}
