@{
}

@model SMCS.Web.Models.Chat.Chats
@*We Receive chats*@

@*
    To Do: 
        1.Make the New Chat Button functional
        2.Make the Input of the message functional
*@
<div class="col-md-12">
@*Chat*@
<button type="button" class="btn btn-secondary py-3 mb-4 text-center d-md-none aside-toggler"><i class="mdi mdi-menu mr-0 icon-md"></i></button>
<div class="card chat-app-wrapper">
    <div class="row mx-0">
        @*List Of Chats Start*@
        <div class="col-lg-3 col-md-4 chat-list-wrapper px-0">
            <div class="sidebar-spacer"> 
                <div class="input-group chat-search-input"> @*Chats Search*@
                        <input type="text" class="form-control" placeholder="Search Inbox" aria-label="Username" id="searchInput">
                        <div class="input-group-append">
                    <span class="input-group-text">
                        <i class="mdi mdi-magnify"></i>
                    </span>
                    </div>
                </div>
            </div> 
            <div class="chat-list-item-wrapper"> @*Chats List Wrapper*@
                <!-- Chats List-->
                @Html.Partial("_ChatsList") @*<-- Chats list is there*@
                @*Doesn't know how it will work with search so if something needed put /Chat Search/ div in partial too*@
            </div>
            <div class="sidebar-spacer"> @*New Chat Button*@
                <div class="h-100 d-flex justify-content-center align-items-center">
                    <button id="newChatButton" class="btn btn-block btn-gradient-success py-3" type="button">+ New Chat</button>
                </div>
                <div id="formContainer" class="mt-1"></div>
            </div>
        </div>
        @*List Of Chats End*@
        @*Chat Space Start*@
        <div class="col px-0 d-flex flex-column">
            <div class="chat-container-wrapper">
                <!-- Chat Body -->
                @Html.Partial("_Chat") @*<-- Chat Messages is there*@
            </div>
            <div class="chat-text-field mt-auto">
            <form action="#">
                <div class="input-group">
                <div class="input-group-prepend">
                    <button type="button" class="input-group-text"><i class="mdi mdi-emoticon-happy-outline icon-sm"></i></button>
                </div>
                <input type="text" class="form-control" placeholder="Type a message here">
                <div class="input-group-append">
                    <button type="button" class="input-group-text"><i class="mdi mdi-paperclip icon-sm"></i></button>
                </div>
                <div class="input-group-append">
                    <button type="submit" class="input-group-text"><i class="mdi mdi-send icon-sm"></i></button>
                </div>
                </div>
            </form>
            </div>
        </div>
        @*Chat Space End*@
    </div>
</div>
@*Chat*@
</div>

<!--Search Input Code-->
<script src="/lib/jquery/dist/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('#searchInput').on('keyup', function () {
            var searchText = $(this).val().toLowerCase();
            $('.user-name').each(function () {
                var userName = $(this).text().toLowerCase();
                var listItem = $(this).closest('.list-item');
                if (userName.includes(searchText)) {
                    listItem.show();
                } else {
                    listItem.hide();
                }
            });
        });
    });
</script>

<!--New Chat Button Code-->
<script>
    document.getElementById('newChatButton').addEventListener('click', function () {
        // Generate the form HTML dynamically
        var formHtml = `
            <div class="card bg-gradient-primary">
                <div class="card-body">
                    <h5 class="h-100 d-flex justify-content-center align-items-center">Create Chat</h5>
                    <div class="input-group chat-search-input">
                        <input type="text" class="form-control" placeholder="Search User to add" aria-label="Username" id="userAddInput">
                        <div class="input-group-append">
                            <span class="input-group-text">
                                <i class="mdi mdi-plus"></i>
                            </span>
                        </div>
                    </div>
                    <div class="h-100 d-flex justify-content-center align-items-center">
                        <button id="deleteFormButton" class="btn btn-danger">Close Form</button>
                    </div>
                </div>
            </div>
            `;
            
        // Render the form inside the container
        document.getElementById('formContainer').innerHTML = formHtml;
        
        // Handle form submission
        document.getElementById('submitButton').addEventListener('click', function () {
            var username = document.getElementById('usernameInput').value;
            // Perform further processing or make a request to the server with the username data
            // For example, you can use AJAX to send the data to a server-side endpoint
            // using fetch or other libraries like Axios
        });


    });

    // Add event listener to delete the form
    document.addEventListener('click', function (event) {
        var formContainer = document.getElementById('formContainer');
        var target = event.target;

        // Check if the click target is the delete button
        if (target.id === 'deleteFormButton') {
            // Clear the formContainer
            formContainer.innerHTML = '';
        }
    });
</script>
